.mywork{
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center ;
  gap: 60px ;
  margin: 60px 140px;
}
.mywork-title{
  position: relative;
}
.mywork-title h1{
  padding: 0 30px;
  font-size: 50px;
  font-weight: 500;
}
.mywork-title img{
  position: absolute;
  height: 50px;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.mywork-container{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 25px;
}
.mywork-container img{
  box-sizing: border-box;
  width: 419px;
  height: 250px;
  transition: 0.3s;
  cursor: pointer;
}
.mywork-container img:hover{
  transform: scale(1.10);
  border-radius: 10px;
  transition: 0.3s;
}
.mywork-showmore{
  display: flex;
  gap: 15px;
  border-radius: 50px;
  border: 2px solid white ;
  padding: 17px 30px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 60px;
  transition: 0.5s;
  cursor: pointer;
}
.mywork-showmore:hover{
  gap: 25px;
  transition: 0.5s;
}
@media(max-width:768px){
  .mywork{
    gap: 50px;
    margin: 50px 70px;
    align-items: start;
  }
  .mywork-title h1{
    padding: 0;
    font-size: 50px;
    font-weight: 600;
  }
  .mywork-title img{
    width: 130px;
    margin-right: -20px;
  }
  .mywork-container{
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .mywork-container img{
    width: 100%;
    height: 100%;
  }
  .mywork-showmore{
    padding: 20px 40px;
    font-size: 18px;
    margin: 50px auto;
    cursor: pointer;
  }
}