.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #1f0016;
  border-radius: 10px;
}

.navbar .logo {
  height: 80px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: -webkit-linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

@media (max-width: 1024px){
  .nav-menu {
    gap: 40px;
    font-size: 18px;
  }

  .nav-connect {
    padding: 15px 30px;
    font-size: 16px;
  }
}


@media (max-width: 768px){
  .navbar {
    padding: 0 20px;
    margin: 0;
  }

  .nav-connect {
    display: none;
  }
  .nav-mob-open{
    display: block;
    position: fixed;
    right: 30px;
    cursor: pointer;
  }
  .nav-mob-close{
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
    cursor: pointer;
  }
  .nav-menu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    background: #1f0016;
    top: 0;
    gap: 30px;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  } 
  .nav-menu li{
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
 
  }
}


@media (max-width: 480px) {
  .navbar{
    width: 100%;
  } 
  .nav-menu li {
    font-size: 16px;
    padding-left: 15px;
  }

  .nav-mob-open {
    width: 20px;
  }
  .nav-mob-close {
    margin-right: 250px;
  }
  
  .nav-mob-open {
    margin-right: 50px;
  }
  
}